MONGODB_URI="mongodb+srv://yeah:yeah123@cluster0.xxxxx.mongodb.net/yeahdays?retryWrites=true&w=majority&appName=Cluster0"
JWT_SECRET="change_me_please"
PORT=4000
CLIENT_ORIGIN="http://localhost:5173"
